@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* GENERAL PARAMETER */
*{
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 241, 225);
}

/* MAIN CONTENT */
#image-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: hsl(213, 19%, 21%);
}
#image{
    background-image: url(/images/icon-star.svg);
}
#main{
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    padding: 30px;
    height: 310px;
    width: 310px;
    display: flex;
    flex-direction: column;
}
#title{
    margin-top: 15px;
    font-size: 1.5rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
#paragraphe{
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    color:hsl(216, 12%, 54%);
    font-size: 13px;
    margin-top: 15px;
}
#rating-section{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 20px;
    width: 100%;
}
.rating-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(213, 19%, 21%);
    border-radius: 50%;
}
.submit-btn{
    padding: 12px;
    width: 310px;
    border-radius: 25px;
    border: none;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
.submit-link{
    border-radius: 25px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
}

/* JavaScript class used for component */

 .rating-hover{
    background-color: hsl(25, 97%, 53%);
 }
 .submit-click{
    background-color: white;
    color: hsl(25, 97%, 53%);
 }